# Built files
*.apk
*.ap_
*.aab
*.apks

# Java/Kotlin
*.class
*.log
.kotlin/

# macOS
.DS_Store
**/.DS_Store

# Android Studio
*.iml
.idea/
.gradle/

# Build folders
build/
captures/
.externalNativeBuild/
.cxx/

# Local config
local.properties

# Signing
*.jks
*.keystore
*.p12

# Generated
/bin/
/out/